/* base.css */
/* Reset based on Tailwind preflight core */
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  line-height: inherit;
  font-family: 'tt-commons-pro', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Custom Properties (Tokens) */
:root {
  --color-primary-pink: rgb(188, 38, 155);
  --color-primary-pink-hover: rgba(188, 38, 155, 0.9);
  --color-text-dark: rgb(25, 30, 73);
  --color-surface-dark: #191e49;
  --color-surface-darker: #212559;
  --color-text-muted: #a7adcc;
  --color-bg-light: rgb(252, 250, 250);
}

@font-face {
  font-display: swap;
  font-family: 'tt-commons-pro';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F4bacf71f124565208ef841dbe7dafeb6e530d6e0?generation=1770623286216506&alt=media') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'tt-commons-mono';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
  src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F2645c9f81abf8117d61afd88eeaede37eb7518ac?generation=1770623286199846&alt=media') format('woff2');
}

a {
  color: inherit;
  text-decoration: inherit;
}
button {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img, svg {
  display: block;
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
